 body   {
    font-family: 'Roboto', sans-serif;
    margin:0;
 }
 h1, h2, h3, h4, h5, h6, p, ul, ol   {
     margin:0;
 }
 p  {
    font-size:16px;
 }
 * {
     box-sizing: border-box;
 }
.main_section {
    background-image: url(./images/7014.jpg);
    max-width:100%;
    height:100vh;
    background-repeat:no-repeat; 
    padding:46px 110px 0;
    background-size:cover ;
}
.nav_bar    {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-color:#9F9F9F54;
    padding-bottom: 30px;
    border-width:1px;
}
ul {
    list-style-type: none;
}
.nav_links  {
    display:flex;
}
.nav_link:not(:last-child)  {
    margin-right: 36px;
}
.nav_link a {
    text-decoration: none;
    color: black;
    font-size:16px;
}
.nav_link a:active  {
    border-bottom: solid;
    color:#FF7008;
    border-color:#FF7008;
    padding-bottom: 10px;
    border-width: 1px;
}
.text-orange  a  {
    color:#FF7008;
    border-color:#FF7008;
    padding-bottom: 10px;
    border-width: 1px;
    border-bottom: solid;
}
.orange {
    color:#FF7008;
}
.black {
    color:black;
    font-weight: 500;
}
.Hero   {
    display: flex;
    justify-content:flex-end;
    margin-top: 286px;
    
}
.Hero_wrapper {
    width:490px;
    height:370px;
}
.Hero h1 {
    font-size:45px;
    font-weight: 700;
    margin-bottom: 20px;
}
.Hero p {
    line-height: 1.7;
    margin-bottom: 20px;
}
.Hero a {
    font-weight:500;
}
.Trusted_by {
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
    height: 130px;
}
.Trusted_by p {
    color:#575757;
    font-weight:500;
}
.Trusted_by div   {
    margin-left: 100px;
}
.Features    {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 64px;
}
.Feature_Heading    {
    font-size: 18px;
    font-weight: 700;
}
.Features h5  {
 font-size: 21px;
 font-weight: 400;
}
.Features h2{
    margin-top: 17px;
    font-size: 40px;
    font-weight: 700;
}
.Feature_wrapper    {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
}
.Feature_wrapper img   {
    margin-bottom:28px;
}
.Feature_wrapper h3 {
    margin-bottom:28px;
}
.Feature_wrapper p {
    width:328px;
    line-height:31.31px;
}
.Feature_wrapper .Learn_more  {
    margin-top: 20px;
}
.Learn_more a{
    color:#FF7008;
}
.footer_content {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    background-color: #F8F8F8;
    padding-top: 70px;
}
.footer_content p {
    font-weight:18px;
    font-weight:700;
}
.footer_content ul {
    padding:0;
    margin-top: 20px;
    line-height: 31.31px;
    color:#797979;
}
.newsletter {
    padding:0;
    margin-top: 20px;
    line-height: 31.31px;
    color:#797979;
    font-weight: 400!important; 
    width: 302px;
}
.Box    {
    margin-top:46px;
}
.Box input{
    width: 238px;
    height: 57px;
    border-radius: 5px;
    border-width:1px;
    border-color: #BBBBBB;
    background-color: #F8F8F8;
    padding: 20px;
}
.Box button {
    width:136px;
    height:57px;
    color:#FFFFFF;
    Background-color:#FF7008;
    border-radius: 5px;
    border:none;
    text-align: center;
    position: relative;
    left: -12px;
}
.footer{
    display:flex;
    justify-content: space-between;
    background-color: #F8F8F8;
    padding-top: 80px;
    padding-bottom:25px;
    padding-left:160px;
    padding-right:160px;
    /* border-top:solid; */
    text-align: center;
}
.dotty_picture  {
    position:absolute;
    right: -1px;
    bottom: -488px;
}
footer p{
    color: #797979;
    font-size:14px;
}
.icons img{
    width:33px;
    height:33px;
    margin-left: 32px
}